<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733405672900-kpj151vgug7eh7i4mpc6q8hsh6ch3gsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733405672900-kpj151vgug7eh7i4mpc6q8hsh6ch3gsd</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-nmudzcNw1A1BwPAkg1Cst_OayKSHMw</string>
	<key>GCM_SENDER_ID</key>
	<string>733405672900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haritha.searchly</string>
	<key>PROJECT_ID</key>
	<string>searchly-6eb7f</string>
	<key>STORAGE_BUCKET</key>
	<string>searchly-6eb7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733405672900:ios:69057dacbbadf67f48a091</string>
</dict>
</plist>