<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>733405672900-kpj151vgug7eh7i4mpc6q8hsh6ch3gsd.apps.googleusercontent.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.733405672900-kpj151vgug7eh7i4mpc6q8hsh6ch3gsd</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
